@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

li:hover{background: rgba(250, 130, 242, 0.35);}


#menu-h{
    background-color: rgb(37, 37, 39);
    
}

#menu-h ul {
    max-width: 350px;
    list-style: none;
    padding: 0;
    padding-top: 8px;
    display: flex;
    justify-content: space-around;

}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}


#menu-h2{
    background-color: rgb(37, 37, 39);
    
}

#menu-h2 ul {
    max-width: 100%;
    list-style: none;
    padding: 0;
}

#menu-h2 ul li {
    display: inline;
}

#menu-h2 ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

body{
    background-color: rgb(37, 37, 39);

}

.titulo{
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

img{border-radius: 50%;max-width: 500px;padding-top: 30px;padding-bottom: 30px;}
p{
    color: white;
    font-family: 'Open Sans', sans-serif;}

    

#Vitor{
    display: flex;
    align-items: center;
}

#Vitor .teste{max-width: 30%;}
img:hover{opacity: 0.7;}
p:hover{color: rgba(250, 130, 242, 0.737);}

#Vt{display: flex;justify-content: center; align-items: center;}

#menu1{position: fixed; top: 0;}
#menu2{position: fixed; bottom: 0;}
#cont{width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center}
